body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url(pics/p4.jpeg);
  background-position: center; 
  background-size: cover;
  /* background: linear-gradient(to right, #777777, #cecece); */
  text-align: center;
}
h1 {
  margin-top: 40px;
  color: #2a2a2a;
  font-size: 3rem;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.loginbox {
  background: rgba(255, 255, 255, 0.477);
  padding: 30px;
  font-weight: bolder;
  border-radius: 25px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.loginbox input[type="text"],.loginbox input[type="password"],.loginbox input[type="email"],.loginbox input[type="number"],.loginbox textarea,.loginbox select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.loginbox button {
  padding: 10px 20px;
  margin: 10px 10px;
  background-color: #664e4e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.loginbox button:hover {
  background-color: #333333;
}
.usrname{
    margin-right: 21px;
}
div.usrname label{
    margin-left: 21px;
}
.get_otp{
    margin-bottom: 20px;
    margin-right: 21px;
}
div.get_otp button{
    margin-left: 21px;
}
.give_otp{
    margin-bottom: 20px;
    margin-right: 21px;
}
div.give_otp button{
    margin-left: 21px;
}
.newpass{
    margin-right: 21px;
}
div.newpass label{
    margin-left: 21px;
}
div.newpass button{
    margin-left: 21px;
}
.name {
  display: flex;
  gap: 5px;
}
.name input {
  flex: 1;
}
.phone {
  display: flex;
  gap: 10px;
}
#sel{
    width: 75px;
}
.address{
    margin-right: 21px;
}
div.address label{
    margin-left: 21px;
}
.email_pass{
    margin-right: 21px;
}
div.email_pass label{
    margin-left: 21px;
}
.signup_forgot, .remember {
  display: flex;
  justify-content: center;
}
.gender{
    display: flex;
    gap: 5px;
}
a{
    text-decoration: none;
    color: white;
}
.lab{
  margin-bottom: 20px;
}



@media (max-width: 600px) {
  .name {
    flex-direction: column;
    margin-right: 21px;
  }
  .gender {
    flex-direction: column;
    align-items: flex-start;
  }
  #phone {
    flex-direction: column;
  }
}